/** CSS for navigation bar **/
.ul {
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    overflow: hidden;
    background-color: black;
}

.li {
    float: left;
}
  
.a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
}

.about:hover {
    background-color: red;
}

.education:hover {
    background-color: orange;
}

.work:hover {
    background-color: green;
}

.projects:hover {
    background-color:purple;
}

.contacts:hover {
    background-color: blue;
}

/** Creating CSS for top section headers **/
.tophead {
    background-color: rgb(236, 236, 236);
}

/** Creating flex containers **/
.container {
    display: flex;
    justify-content: center;
}

/**Header split content**/
.split {
    flex: wrap;
    margin:25px;
    font-size: 35px;
    text-align: center;
}

/**Image CSS**/
.image {
    border-radius: 50%;
}

/**Section headers for the entire website (Standardise)**/
.header{
    background-color: white;
    text-align: center;
    color: #00E5FF;
    line-height: 0.5;
}

h2 {
    font-size: 40px;
    padding-top: 25px;
}

h3 {
    font-size: 35px;
    padding-bottom: 25px;
}

h4 {
    font-size: 30px;
}

/** CSS for lists excluding navbar **/
.list {
    list-style: none;
    overflow: hidden;
    padding-right: 40px;
}

.flexItem {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    text-align: center;
    border: 5px solid;
    margin: 17px;
    font-size: 27px;
    max-width: 40%;
    background-color:white;
}

.contentAlign {
    padding-top: 50px;
}
/** Flexboxes at the top of the page **/
.headerItem {
    font-size: 40px;
    text-align: center;
}

.slideContent {
    box-sizing: border-box;
    padding: 100px;
}
/**----------------------------------------------- Slideshow ----------------------------------------------------**/
