/** CSS for navigation bar **/
.ul {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
    overflow: hidden;
    background-color: black;
}

.li {
    float: left;
}
  
.a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 17px;
    text-decoration: none;
    font-size: 20px;
}

.about:hover {
    background-color: red;
}

.education:hover {
    background-color: orange;
}

.work:hover {
    background-color: green;
}

.projects:hover {
    background-color:purple;
}
/** Creating CSS for top section headers **/
.tophead {
    background-color: #FBFF8D;
}

/** Creating flex containers **/
.container {
    display: flex;
    justify-content: center;
}

/**Header split content**/
.split {
    flex: wrap;
    margin:25px;
    font-size: 25px;
    text-align: center;
}

/**Image CSS**/
.image {
    border-radius: 50%;
}

/**Section headers for the entire website (Standardise)**/
.header{
    background-color: #00E5FF;
    text-align: center;
    color: white;
}

h2 {
    font-size: 30px;
    padding-top: 5px;
}

h3 {
    font-size: 25px;
    padding-bottom: 5px;
}